---
layout: main.njk
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: posts
---
<h1 class="posts-title">Posts</h1>
<div class="posts-list">
  {% for post in posts %}
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p class="timestamp">
      <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    </p>
  {% endfor %}
</div>
